 <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="./logo/logo.png">
      <b>Culinary Haven</b>
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
     data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" routerLink="home">Home</a>
         <a class="nav-item nav-link active" routerLink="seemenu">Menu</a>
         <a class="nav-item nav-link active" routerLink="addcart">Cart</a>
         <a class="nav-item nav-link active" routerLink="bookTable">Book Table</a>
         <a class="nav-item nav-link active" routerLink="aboutus">About Us</a>
      </div>

      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" routerLink="login">Sign in</a>
        <a class="nav-item nav-link" routerLink="adminlogin">Admin Login</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a routerLink="register" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
 </nav>
 <!-- navbar end -->
 <router-outlet></router-outlet>

 <!-- footer -->
     <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        
                        <h4>About us</h4>
                        <p>Welcome to Culinary Haven, where every dish is a masterpiece crafted with passion and care. Nestled in the heart of Jodhpur City,
                             we invite you to savor our culinary delights inspired by Indian Cuisine.
                             Join us for an unforgettable dining experience that celebrates flavors, freshness, and the joy of good food. </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Information</h4>
                        <ul class="address1">
                            <li><i class="fa fa-map-marker"></i>Culinary Haven, Jodhpur City </li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:#">www.culinaryhaven.com</a></li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:12 34 56 78 90">+91 9045783648</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Follow us</h4>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="copyright"><i>© Copyrights 2024 - 2025. Culinary Haven. All Rights Reserved. <br>Powered By</i>
                        </p>
                        <a href="https://www.justdial.com/"><p class="just"><img src="https://image1.jdomni.in/jdomni_email/JustdialLogo_2404011354.png" alt=""></p></a>
                    </div>
                    <div class="col-sm-7">
                        <ul>
                            <li><b>Culinary Haven Resturant</b></li>
                            <div class="stars"><img src="./homeImg/jd.png" alt=""></div>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
       
    </footer>
