<div>
  <app-carousel></app-carousel>

<body>
    <div class="marquee-container">
        <div class="marquee">
           <b>Restaurant Time Monday To Friday : 10AM To 10PM Saturday & Sunday 10AM To 12PM</b> 
        </div>
    </div>
  
</body>
<div class="head"><h2><p><b>Welcome To Culinary Haven Resturant</b></p></h2></div>

<div class="timg1">
  <div class="timg2"><img src="./homeImg/1.webp">Punjabi Thali</div>
  <div class="timg2"><img src="./homeImg/2.webp">Goan Thali</div>
  <div class="timg2"><img src="./homeImg/3.webp">Maharashtrian Thali</div>
 </div>

 <div class="timg1">
  <div class="timg2"><img src="./homeImg/4.webp">Rajasthani Thali</div>
  <div class="timg2"><img src="./homeImg/5.webp">Bengali Thali</div>
  <div class="timg2"><img src="./homeImg/6.webp">Gujarati Thali</div>
 </div>

 <hr id="hr">
<div class="big">
<div class="big1"><img src="./homeImg/7.webp"></div>
<div class="big2"><p>We, Culinary Haven, located Jodhpur, Maharashtra, are one of the best thali restaurants serving a wide variety of delicacies in just one platter. Meals here are prepared with lots of love, keeping in mind the taste which will take you on a culinary treat. We strive to offer a mind-blowing range of thalis which are prepared by our expert chefs. With delicious food & beautiful ambiance, we offer an unforgettable experience to our connoisseurs.</p></div>
</div>
 <hr id="hr">

 <div class="head"><h2><p><b>Culinary Haven Resturant Dishes Gallery</b></p></h2></div>
 <div class="timg10">
  <div class="timg2"><img src="./homeImg/8.webp"></div>
  <div class="timg2"><img src="./homeImg/9.webp"></div>
  <div class="timg2"><img src="./homeImg/10.webp"></div>
 </div>
 <div class="timg20">
  <div class="timg2"><img src="./homeImg/11.webp"></div>
  <div class="timg2"><img src="./homeImg/12.webp"></div>
  <div class="timg2"><img src="./homeImg/13.jpg"></div>
 </div>
 <div class="head1"><h2><p><b>- Resturant Location Culinary Haven -</b></p></h2></div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.728969636106!2d73.02799527543102!3d26.270458387395966!2m3!1f0!2
  f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418dad8be0cc03%3A0xe6badcb88804869f!2sCulinary%20Haven%20-%20A%20Fine%20Dining%20Restauran
  t!5e0!3m2!1sen!2sin!4v1721306255521!5m2!1sen!2sin" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
   referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- 
<app-happy-clients></app-happy-clients> -->
<app-feedbackform></app-feedbackform>